# Phase 1 evaluation

In [1]:
import pandas as pd
import numpy as np
dfTesting = pd.read_csv("users_1-50/validTestingResults_HT2020.csv", sep=";", header=0, index_col=None)
dfTesting.head()

,id,userID,objectID,visited_objects,eventType,eventValue,position,date
0,2042520,3341731,7094,1,object_shown_in_list,1,recomended,2020-01-15 23:01:57
1,2042521,3341731,7106,1,object_shown_in_list,1,recomended,2020-01-15 23:01:57
2,2042522,3341731,4108,1,object_shown_in_list,1,recomended,2020-01-15 23:01:57
3,2042523,3341731,6526,1,object_shown_in_list,1,recomended,2020-01-15 23:01:57
4,2042524,3341731,2331,1,object_shown_in_list,1,recomended,2020-01-15 23:01:57

In [2]:
dfIF = pd.read_csv("recent_implicit_feedback_HT2020_online.csv", sep=";", header=0, index_col=None)
dfIF.head()

        id   userID  objectID eventType  eventValue         lastModified
0  1322155   715904      2067  pageview          23  2020-01-27 13:18:01
1  1336358   883157      3126  pageview         157  2020-01-30 08:55:07
2  1444051  1326034       109  pageview          11  2020-02-02 20:29:50
3  1823559  1529905      2067  pageview         123  2020-01-27 10:42:00
4  1855943  1529905      2331  pageview         168  2020-01-27 10:26:31

In [3]:
resOO = pd.read_csv("users_1-50/results_open_HT2020.csv", sep=";", header=0, index_col=0)
resOO

            cnt
recVariant
0           152
1           109
2           152
3           109
4           100
5            91

In [4]:
sum(resOO.cnt)

713

In [5]:
resOOU = pd.read_csv("users_1-50/results_openUsers_HT2020.csv", sep=";", header=0, index_col=0)
resOOU

            cnt
recVariant
0            84
1            68
2            86
3            63
4            67
5            56

In [6]:
resSO = pd.read_csv("users_1-50/results_shown_HT2020.csv", sep=";", header=0, index_col=0)
resSO

              cnt
recVariant
0           21948
1           16910
2           19841
3           17093
4           19588
5           18682

In [7]:
sum(resSO.cnt)

114062

In [8]:
resSOU = pd.read_csv("users_1-50/results_shownUsers_HT2020.csv", sep=";", header=0, index_col=0)
resOO["users"] = resSOU.cnt
resSOU

            cnt
recVariant
0           664
1           628
2           668
3           637
4           655
5           646

In [9]:
resOO["clicks"] = resOO.cnt
resOO["shown"] = resSO.cnt
resOO.cnt / resSO.cnt

recVariant
0    0.006925
1    0.006446
2    0.007661
3    0.006377
4    0.005105
5    0.004871
Name: cnt, dtype: float64

In [10]:
resOO["user_conversion"] = resOOU.cnt / resSOU.cnt
resOOU.cnt / resSOU.cnt

recVariant
0    0.126506
1    0.108280
2    0.128743
3    0.098901
4    0.102290
5    0.086687
Name: cnt, dtype: float64

In [11]:
merged = pd.merge(dfTesting, dfIF, how='inner', on=("userID", "objectID"))
#merged.head()

In [12]:
import datetime
merged["dateX"] = pd.to_datetime(merged.date)
merged["lastModifiedX"] = pd.to_datetime(merged.lastModified)
merged["dtDiff"] = (merged["lastModifiedX"] - merged["dateX"]).dt.seconds
merged.head()

,id_x,userID,objectID,visited_objects,eventType_x,eventValue_x,position,date,id_y,eventType_y,eventValue_y,lastModified,dateX,lastModifiedX,dtDiff
0,2042622,3341736,108,1,object_shown_in_list,1,recomended,2020-01-15 23:08:36,4402427,pageview,1,2020-01-15 23:07:41,2020-01-15 23:08:36,2020-01-15 23:07:41,86345
1,2042628,3341736,108,2,object_shown_in_list,1,recomended,2020-01-15 23:09:12,4402427,pageview,1,2020-01-15 23:07:41,2020-01-15 23:09:12,2020-01-15 23:07:41,86309
2,2042624,3341736,109,1,object_shown_in_list,1,recomended,2020-01-15 23:08:36,4402430,pageview,1,2020-01-15 23:09:12,2020-01-15 23:08:36,2020-01-15 23:09:12,36
3,2042630,3341736,109,2,object_shown_in_list,1,recomended,2020-01-15 23:09:12,4402430,pageview,1,2020-01-15 23:09:12,2020-01-15 23:09:12,2020-01-15 23:09:12,0
4,2042634,3341664,7115,6,object_shown_in_list,1,recomended,2020-01-15 23:14:36,4402306,pageview,2,2020-01-15 23:21:25,2020-01-15 23:14:36,2020-01-15 23:21:25,409

In [13]:
mergedRestr = merged.loc[(merged.dateX < merged.lastModifiedX) & (merged.dtDiff > 5) & (merged.eventType_x == "object_shown_in_list") & (merged.visited_objects > 0) & (merged.eventType_y == "pageview")]
mergedRestr.head()

,id_x,userID,objectID,visited_objects,eventType_x,eventValue_x,position,date,id_y,eventType_y,eventValue_y,lastModified,dateX,lastModifiedX,dtDiff
2,2042624,3341736,109,1,object_shown_in_list,1,recomended,2020-01-15 23:08:36,4402430,pageview,1,2020-01-15 23:09:12,2020-01-15 23:08:36,2020-01-15 23:09:12,36
4,2042634,3341664,7115,6,object_shown_in_list,1,recomended,2020-01-15 23:14:36,4402306,pageview,2,2020-01-15 23:21:25,2020-01-15 23:14:36,2020-01-15 23:21:25,409
5,2042640,3341664,7115,6,object_shown_in_list,1,recomended,2020-01-15 23:14:57,4402306,pageview,2,2020-01-15 23:21:25,2020-01-15 23:14:57,2020-01-15 23:21:25,388
6,2042647,3341664,7115,6,object_shown_in_list,1,recomended,2020-01-15 23:15:50,4402306,pageview,2,2020-01-15 23:21:25,2020-01-15 23:15:50,2020-01-15 23:21:25,335
7,2042654,3341664,7115,6,object_shown_in_list,1,recomended,2020-01-15 23:17:55,4402306,pageview,2,2020-01-15 23:21:25,2020-01-15 23:17:55,2020-01-15 23:21:25,210

In [14]:
(merged.shape, mergedRestr.shape)

((25512, 15), (8594, 15))

In [15]:
mergedRestr.sort_values("dtDiff", inplace=True)
mergedRestr.drop_duplicates(["userID", "objectID", "lastModified"], inplace=True)
mergedRestr.shape

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(2023, 15)

In [16]:
mergedRestr["recVariant"] = mergedRestr.userID % 6
mergedRestr = mergedRestr[["recVariant","date","lastModified"]]
mergedRestr.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

       recVariant                 date         lastModified
1590            5  2020-01-16 23:40:26  2020-01-16 23:40:32
16545           5  2020-01-27 11:53:04  2020-01-27 11:53:10
1394            2  2020-01-16 20:25:21  2020-01-16 20:25:27
15921           2  2020-01-26 23:45:09  2020-01-26 23:45:15
3406            3  2020-01-24 19:50:25  2020-01-24 19:50:31

In [17]:
dfGroup = mergedRestr.groupby(by=["recVariant"])
dfSum = dfGroup.count()
dfSum

            date  lastModified
recVariant
0            374           374
1            284           284
2            369           369
3            301           301
4            362           362
5            333           333

In [18]:
dfSum.sum()

date            2023
lastModified    2023
dtype: int64

In [19]:
resOO["visits"] = dfSum.date
dfSum.date/resSO.cnt

recVariant
0    0.017040
1    0.016795
2    0.018598
3    0.017610
4    0.018481
5    0.017825
dtype: float64

In [20]:
algVariants = ["Best old, CTR",
            "Cosine CB",
            "Word2vec",
            "Best Current, CTR",
            "Best Old, VRR",
            "Best Current, VRR"
            ]

In [21]:
resOO["algNames"] = algVariants
resOO = resOO.set_index("algNames")
resOO

                   cnt  users  clicks  shown  user_conversion  visits
algNames
Best old, CTR      152    664     152  21948         0.126506     374
Cosine CB          109    628     109  16910         0.108280     284
Word2vec           152    668     152  19841         0.128743     369
Best Current, CTR  109    637     109  17093         0.098901     301
Best Old, VRR      100    655     100  19588         0.102290     362
Best Current, VRR   91    646      91  18682         0.086687     333

In [22]:
from scipy.stats import fisher_exact

fisher_exact(resOO.iloc[[3,2],[2,1]])

(0.7520036354622821, 0.04160754127185018)

In [23]:
resOO.iloc[[0,2],[2,3]]

               clicks  shown
algNames
Best old, CTR     152  21948
Word2vec          152  19841

In [24]:
resOO["ctr"] = resOO["clicks"]/resOO["shown"]
resOO["vrr"] = resOO["visits"]/resOO["shown"]
resOO["ctr_u"] = resOO["clicks"]/resOO["users"]
resOO["vrr_u"] = resOO["visits"]/resOO["users"]
resOO["shr"] = resOO["shown"]/resOO["users"]
resOO

,cnt,users,clicks,shown,user_conversion,visits,ctr,vrr,ctr_u,vrr_u,shr
algNames,,,,,,,,,,,
"Best old, CTR",152,664,152,21948,0.126506,374,0.006925,0.017040,0.228916,0.563253,33.054217
Cosine CB,109,628,109,16910,0.108280,284,0.006446,0.016795,0.173567,0.452229,26.926752
Word2vec,152,668,152,19841,0.128743,369,0.007661,0.018598,0.227545,0.552395,29.702096
"Best Current, CTR",109,637,109,17093,0.098901,301,0.006377,0.017610,0.171115,0.472527,26.833595
"Best Old, VRR",100,655,100,19588,0.102290,362,0.005105,0.018481,0.152672,0.552672,29.905344
"Best Current, VRR",91,646,91,18682,0.086687,333,0.004871,0.017825,0.140867,0.515480,28.919505

In [26]:
from statsmodels.stats.proportion import proportions_ztest
count = [109,152]
nobs = [16910, 21948]
stat, pval = proportions_ztest(count, nobs)
pval

0.5660994889663469

In [28]:
from statsmodels.stats.proportion import proportions_ztest
count = [284,362]
nobs = [16910, 19558]
stat, pval = proportions_ztest(count, nobs)
pval

0.21587107301918584